.mosaic {
  columns: 2;
  column-gap: 3px;
  @include media-breakpoint-up(md) {
    columns: 4;
  }
  @include media-breakpoint-up(lg) {
    columns: 5;
  }
  @include media-breakpoint-up(xl) {
    columns: 6;
  }
  .mosaic-item {
    width: 100%;
    margin-bottom: 3px;
    break-inside: avoid;
    border: 1px solid black;
    img { width: 100% }
  }
}
