// Bootstrap overrides

$primary: #3F88C5;
$secondary: #2A2D34;
$tertiary: #8DC63F;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$custom-colors: (
  'tertiary': $tertiary
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import 'bootstrap/scss/bootstrap.scss';

// Variables

@import 'variables.scss';

// Default styles
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $main-background-color;
  font-size: 16px;
}

.btn-primary {  color: white !important;  }

a {
  color: $tertiary;
  text-decoration: none;
  &:hover {  color: darken($tertiary, 10%);  }
}

// Components

@import 'common.scss';
@import 'footer.scss';
@import 'isbn-search-box.scss';
